/* Body */
body {
	font-family: Tahoma, Geneva, sans-serif;
	padding:0px;
	margin:0px;
}

/* Navbar */
.navbar {
	position: fixed;
	font-family: Tahoma, Geneva, sans-serif;
	list-style-type: none;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

/* Elements in navbar */
.navbar li {
	float: left;
	-moz-transition: background-color .2s ease-in;
	-o-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}

.navbar li:hover {
	background-color: #111;
}

/* Links in navbar elements */
.navbar a {
	padding: 8pt 13pt;
	display:block;
	color: white;
	text-align: center;
	text-decoration: none;
}

/* Content of page */
.content {
	padding-top: 16pt;
}

/* Stack navbar content on small screens and unfix navigation */
@media screen and (max-width: 400px){
		.navbar { position: static ; }
    .navbar li {float: none;}
		.content { padding-top: 0pt;
}
