body {
	padding:0px;
	margin:0px;
}

.navbar {
	position: fixed;
	font-family: Tahoma, Geneva, sans-serif;
	list-style-type: none;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li:hover {
	background-color: #111;
}

.navbar a {
	padding: 10pt 13pt;
	display:block
	color: white;
	text-align: center;
	text-decoration: none;
}

.content {
	padding-top: 14pt;
}

/* Stack navbar content on small screens and unfix navigation */
@media screen and (max-width: 600px){
		.navbar { position: static ; }
    .navbar li {float: none;}
		.content { padding-top: 0pt;
}
