/**************/
/**** Body ****/
/**************/
body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 auto;
  padding: 0;
	overflow-y: scroll;
	width: 900px;
}

/* Anchor class to be beneath fixed navigation and text centering */
.anchor {
	text-align: center; /* extra class for anchors on project page? */
	/* padding-top: 30pt; */ /* TODO: find better solution */
	padding-top: 40pt;
	position: relative;
	top: -40pt;
}

/* Content of page */
.content {
	padding-top: 20pt;
}

/**************/
/*** Navbar ***/
/**************/
.navbar {
	position: fixed;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: -1px;
	width: 900px;
	overflow: hidden;
	background-color: #333;
	box-shadow: 0pt 2pt 5pt #888888;
	z-index: 100;
}

/* Elements in navbar */
.navbar li {
	float: left;
	-moz-transition: background-color .2s ease-in;
	-o-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}

/* Elements which are hovered */
.navbar li:hover:not(.active)  {
	background-color: #111;
}

/* Active element */
.navbar .active {
	background-color: #4CAF50;
}

/* About element */
.navbar .about {
	float: right;
	background-color: #444;
}

/* Links in navbar elements */
.navbar a {
	color: white;
	padding: 8pt 13pt;
	display: block;
	text-align: center;
	text-decoration: none;
}

/***************/
/*** Projecs ***/
/***************/
.project {
  box-shadow: 0pt 0pt 5pt #888888;
  margin-top: 12pt;
  overflow: auto;
  display: block;
}

.project-main {
}


.project-info {
	float: left;
}


.project-title {
	
}

.project-thumbnail {
	width: 100%;
  height: 100%;
	object-fit: cover;
}

.project-content {
	padding: 10pt;
}

.project-links {
	clear: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #333;
}

.project-links ul {
	list-style-type: none;
}

.project-links li {
	float: left;
}

.project-links a {
	color: white;
	padding: 8pt 13pt;
	display: block;
	text-align: center;
	text-decoration: none;
}


/*********************/
/*** Responsivenes ***/
/*********************/

/* Stack navbar content on small screens, unfix navigation and hide whitespace */
@media only screen and (max-width: 480px) {
	.navbar { position: relative; }
	.navbar li {float: none;}
	.navbar .about { float: none; }
	.anchor { padding-top: 0pt; }
	.content { padding-top: 0pt; }
	.project-links li {	float: none; }
}

/* Width on small screens */
@media only screen and (max-width: 900px) {
	body { width: auto; }
	.navbar { width: 100%; }
}
