---
layout: default
title: Raphael Menges
navigation: projects
project_labels: ["eyegui", "gtw-browse"]
---
{% for label in page.project_labels %}
	{% assign project =  site.projects | where:"label", label  | first %}
	<h3 class="anchor" id="{{ project.label }}">{{ project.title }}</h3>
  {{ project.content }}
	<img src="/images/projects/{{ project.thumbnail }}" alt="Project thumbnail cannot be displayed!"/>
	<ul>
		{% for link in project.links %}
			<li>
				<a href=" {{ link }}">Test</a>
			</li>
		{% endfor %}
	</ul>
{% endfor %}