<!DOCTYPE html>
<html>
	<head>
		<!-- TITLE AND STANDARD METAS-->
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="description" content="Page and blog of Raphael Menges, enthusiast in computer graphics and eye tracking.">
		<meta name="keywords" content="Blog, C++, OpenGL, Eye Tracking">
		<meta name="author" content="Raphael Menges">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		
		<!-- FAVICON -->
		<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/favicon-128x128.png" sizes="128x128">
		<link rel="icon" type="image/png" href="/assets/favicon.png"> <!-- fallback -->
		
		<!-- OTHER -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#EEE">
		
	</head>
	<body>
		<nav class="navbar">
			<li>
				<a {% if page.navigation == "home" %} class="active" {% endif %} href="/">
					<i class="fa fa-newspaper-o"></i>
				</a>
			</li>
			<li>
				<a {% if page.navigation == "projects" %} class="active" {% endif %} href="/projects">
					<span class="navbar-text">Projects</span>
					<span class="navbar-icon"><i class="fa fa-briefcase"></i></span>
				</a>
			</li>
			<li>
				<a {% if page.navigation == "papers" %} class="active" {% endif %} href="/papers">
					<span class="navbar-text">Papers</span>
					<span class="navbar-icon"><i class="fa fa-sticky-note"></i></span>
				</a>
			</li>
		</nav>
		<div class="page">
			<div class="content">
