---
---
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Raphael Menges</title>
  <link href="/css/global.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Google search console verification. -->
  <meta name="google-site-verification" content="m128M0DMnfMFkuzqaUW9xPZWshdGG94WucCt3Q68eSY" />

  <!-- Lightbox must be called early. -->
  <script type="text/javascript" src="/js/lightbox.js"></script>

</head>

<body>

  {{ content }}

  <!-- Abstract must run after all abstracts are rendered. -->
  <script type="text/javascript" src="/js/abstract.js"></script>

</body>

</html>