<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar">
			{% if page.navigation == "projects" %}
				<li> <i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a> </li>
				<li><a class="active" href="/projects">Projects</a></li>
				<li><a href="/papers">Papers</a></li>
				<li><a href="/about">About</a></li>
			{% elsif page.navigation == "papers" %}
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a class="active" href="/papers">Papers</a></li>
				<li><a href="/about">About</a></li>
			{% elsif page.navigation == "about" %}
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/papers">Papers</a></li>
				<li><a class="active" href="/about">About</a></li>
			{% else %}
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/papers">Papers</a></li>
				<li><a href="/about">About</a></li>
			{% endif %}		
		</nav>
		<div class="content">
		
		{{ page.content }}
		
		</div>
		<footer>
			<hr>
			Page under heavy construction! </br>
			TODO: Impressum by Raphael Menges
		</footer>
	</body>
</html>