<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar">
			<li>
				<a {% if page.navigation == "home" %} class="active" {% endif %} href="/">
					<i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home
				</a>
			</li>
			<li>
				<a {% if page.navigation == "projects" %} class="active" {% endif %} href="/projects">Projects</a>
			</li>
			<li>
				<a {% if page.navigation == "papers" %} class="active" {% endif %} href="/papers">Papers</a>
			</li>
			<li style="float:right">
				<a {% if page.navigation == "about" %} class="active" {% endif %} href="/about">About</a>
			</li>
		</nav>
		<div class="content">
		
		{{ page.content }}
		
		</div>
		<footer>
			<hr>
			Page under heavy construction! </br>
			TODO: Impressum by Raphael Menges
		</footer>
	</body>
</html>