---
---
<div class='reference'>
{{ reference }}
</div>

{% comment %} Abstract {% endcomment %}
{%- if site.pubs[entry.key].select -%}
	<div class='abstract'>
		{{ entry.abstract }}
	</div>
{%- endif -%}

{% comment %} Award {% endcomment %}
{%- if site.pubs[entry.key].award -%}
	<div class='award'>
		<span>{{ site.pubs[entry.key].award }}</span>
	</div>
{%- endif -%}

{% comment %} Images {% endcomment %}
{%- if site.pubs[entry.key].images -%}
	<div class='images-scroll'>
		<div class='images'>
		{%- for img in site.pubs[entry.key].images -%}
			<a href='/assets/imgs/{{ img }}'><img src='/assets/imgs/{{ img }}'></a>
		{%- endfor -%}
		</div>
	</div>
{%- endif -%}

{% comment %} PDF Link {% endcomment %}
{%- if link -%}
	<a class='pdf' href='{{ link }}'>PDF</a>
{%- else if site.pubs[entry.key].authorizer_link -%}
	{%- assign link = site.pubs[entry.key].authorizer_link -%}
	{%- assign len = link | size -%}
	{%- if len > 1 -%}
		<a class='pdf' href='{{ link }}'>PDF</a>
	{%- endif -%}
{%- endif -%}

{% comment %} DOI Link {% endcomment %}
{%- if entry.doi -%}
<a class='doi' href='https://doi.org/{{ entry.doi }}'>DOI</a>
{%- endif -%}