<div class='timeline'>

<h3>Today</h3>
<ol>
	<li>
		<div><strong>PhD Student</strong>, University of Koblenz, Institute for Web Science and Technologies
		<div class='thesis-title'>A Glance At The Web: Web Interface Introspection to Enhance Gaze-Based Analysis and Interaction</div>
		<div class='abstract'>The usability of a Web page in particular and the accessibility of Web pages in general are relevant areas of research to make the Web more useful. Eye tracking is a tool that can be helpful in both research areas. We introduce an approach for effective introspection of dynamic interfaces in the Web environment to foster the application of eye tracking. We utilize the observed interface semantics of a Web page to improve gaze-based analysis and gaze-based interaction with eye tracking in the Web environment. First, we present an enhanced representation of a Web page as stimulus that allows an efficient analysis of gaze data by numerous users. Second, we show a gaze-controlled Web browser that adapts the interaction with Web pages for eye tracking input.</div>
		<div class='thesis-supervisor'>Supervisor: Prof. Dr. Steffen Staab</div>
	</li>
</ol>

<h3>October 2016</h3>
<ol>
	<li>
		<div><strong>Master of Science</strong>, University of Koblenz, Computational Visualistics Programme</div>
		<div class='grade'>Overall Grade: 1.1 (very good)</div>
		<div class='thesis-title'>Visualization of Molecule Surface Dynamics <a class='pdf' href='./assets/theses/master.pdf'>PDF</a><a class='slides' href='/assets/slides/master.pdf'>Slides</a><a class='github' href='https://github.com/raphaelmenges/MolecularDynamicsVisualization/tree/master/src/executables/SurfaceDynamicsVisualization'>GitHub</a></div>
		<div class='grade'>Grade: 1.0 (very good)</div> 
		<div class='thesis-abstract'>The surface of a molecule holds important information about the interaction behavior with other molecules. Amino acid residues with different properties change their position within the molecule over time. Some rise up to the surface and contribute to potential bindings. Other descent back into the molecular structure.
		Surface extraction algorithms are discussed and for the most appropriate one a highly parallel implementation is proposed. Layers of atoms are extracted by an iterative application of the algorithm. This allows one to track residues in their movement within the molecule in respect to their distance to the surface or core. Sampling of the surface is utilized for approximations of further values of interest, like surface area.
		Novel visualization methods are presented to support scientists in inspection of simulated molecule foldings. Atoms are colored according to their movement activity or an arbitrary group of atoms can be highlighted and analyzed. Proximity of residues to surface or core can be calculated over simulation time and allow conclusions about their contribution.</div>
		{%- assign imgs = site.academia.master.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='thesis-supervisor'>Supervisors: Prof. Dr. Stefan Müller and M.Sc. Nils Lichtenberg</div>
	</li>
</ol>

<h3>March 2014</h3>
<ol>
	<li>
		<div><strong>Bachelor of Science</strong>, University of Koblenz, Computational Visualistics Programme</div>
		<div class='grade'>Overall Grade: 1.4 (very good)</div>
		<div class='thesis-title'>Interactive Ray-Casting of Volume Data <a class='pdf' href='./assets/theses/bachelor.pdf'>PDF</a><a class='slides' href='/assets/slides/bachelor.pdf'>Slides</a><a class='github' href='https://github.com/raphaelmenges/Voraca'>GitHub</a><a class='video' href='https://youtu.be/sM18a2M5_FM'>Video 1</a><a class='video' href='https://youtu.be/ZcDHNtyZ3es'>Video 2</a></div>
		<div class='grade'>Grade: 1.0 (very good)</div>
		<div class='abstract'>This thesis covers the mathematical background of ray-casting as well as an exemplary implementation on graphics processing units, using a modern programming interface. The implementation is embedded within an editor, which enables the user to activate optimizations of the algorithm. Techniques like transfer functions and local illumination are available for a more realistic visualization of materials. Moreover, the user interface gives access to features like importing volumes, let one define a custom transfer function, holds controls to adjust parameters of rendering and allows to activate further techniques, which are also subject of discussion in this thesis. Benefit of all shown techniques is measured, whether it is expected to be visual or on the part of performance.</div>
		{%- assign imgs = site.academia.bachelor.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='thesis-supervisor'>Supervisors: Prof. Dr. Stefan Müller and M.Sc. Gerrit Lochmann</div>
	</li>
</ol>

<h3>March 2011</h3>
<ol>
	<li>
		<div><strong>Abitur</strong>, Wilhelm-Hofmann-Gymnasium, St.Goarshausen</div>
		<div>General qualiﬁcation for university entrance. Main subjects were Physics, Maths, and English.</div>
		<div class='grade'>Overall Grade: 1.5 (very good)</div>
	</li>
</ol>

</div> <!-- timeline -->