<!--<div class='intro'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tristique justo. Quisque scelerisque, nisi eu venenatis tristique, dolor mi cursus lacus, et scelerisque quam enim et mauris. Fusce a varius tortor. Nullam efficitur mi vitae elementum luctus. Pellentesque sit amet sapien at diam pellentesque tempor nec et magna. Nulla gravida commodo dolor eu feugiat. Nunc ornare fermentum nibh, id imperdiet ligula malesuada non. Nulla et magna et ex dictum pretium vitae vel lectus. Sed eget tellus magna. 
</div>-->

<div class='timeline'>

<h3>2011-2016</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Arts, Digital Media Group
		<div class='title'>Voxelmania. Effects of Videogames on Service Robots</div>
		<a class='video' href='https://youtu.be/'>Video</a>
		<a class='web' href='http://shortfilms.rosfilmfestival.com/video/8lcx9facybsl'>Web</a>
		<div class='abstract'>We are proud to present our short film "Voxelmania. Effects of Videogames on Service Robots". The main actor is LISA. She is our Star and also an award winning service robot in different international contests (supported by team homer@university koblenz-landau, campus Koblenz). In a crossover of dream and reality LISA is exploring the world of video games.</div>
		<div class='note'>Course: Open space course of summer term 2016 by Markus Lohoff</div>
		<div class='note'>Collaborators: Julien Rodewald, Markus Lohoff, and 15 further students</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Computational Visualistics , Computer Graphics Research Group
		<div class='title'>Ship happens!</div>
		<a class='video' href='https://youtu.be/pq4D2nC8EJM'>Video</a>
		<div class='abstract'>Small lighthouse is short of sleep...</div>
		<div class='note'>Course: 3ds Max course of winter term 2013/2014 by Sebastian Pohl</div>
		<div class='note'>Collaborators: Adrian Derstroff, Raphael Heidrich, Dominik Cremer and Saner Demirel</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Arts, Digital Media Group
		<div class='title'>Steoreo</div>
		<a class='video' href='https://youtu.be/qlkXId7oDqU'>Video</a>
		<a class='web' href='/archive/steoreo'>Web</a>
		<div class='abstract'>What are the benefits for visual perception that having two eyes brings with it? Which sensations can be artificially generated? To find out, it's two robots task to work through an experimental series that highlights some aspects of the problem.</div>
		<div class='note'>Course: Aspects of image design of summer term 2011 by Markus Lohoff</div>
		<div class='note'>Collaborators: Arend Buchacher and Michael Taenzer</div>
	</li>
</ol>

<h3>2008-2014</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>JustHotAir</div>
		<a class='web' href='https://www.indiedb.com/games/just-hot-air'>Web</a>
		<a class='video' href='https://youtu.be/cyeSko84DLk'>Video</a>
		<div class='abstract'>Puzzle-action-game for Windows (Phone) 8. Little creatures need your help! Save them by kicking them into the lit hole and make use of the environment to use less kicks. Each kick increases the inner pressure of the creature: One kick over limit and it explodes like a balloon filled with too much hot air.</div>
		<div class='note'>Collaborators: Andre Taulien and Michael Taenzer</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>Pulsedrive</div>
		<a class='web' href='https://www.indiedb.com/games/pulsedrive'>Web</a>
		<a class='video' href='https://youtu.be/DHoG2mTCdXY'>Video</a>
		<div class='abstract'>Music-driven racing game.</div>
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>Beyond Jupiter</div>
		<a class='web' href='https://www.indiedb.com/games/beyondjupiter'>Web</a>
		<a class='slides' href='/assets/docs/beyondjupiter.pdf'>Game Design</a></div>
		<div class='abstract'>Role-playing hack and slash game.</div>
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>[w]tech demos</div>
		<a class='web' href='https://www.indiedb.com/engines/wtech'>Web</a>
		<div class='abstract'>Demonstrations for the [w]tech engine.</div>
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>Tre - Last Life</div>
		<a class='web' href='https://www.moddb.com/mods/tre-last-life'>Web</a>
		<a class='video' href='https://youtu.be/IuRDzZau3lc'>Video</a>
		<div class='abstract'>Total modification of Unreal Tournament 3</div>
		<div class='note'>Collaborators: Andre Taulien and Mr.Tom</div>
		<div class='award'> $1 Million Intel "Make Something Unreal" Contest Phase 4 Finalist</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal activity
		<div class='title'>Tre - The Spreading</div>
		<a class='web' href='https://www.moddb.com/mods/tre-the-spreading'>Web</a>
		<div class='abstract'>Total modification of Unreal Tournament 3</div>
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
</ol>

</div>