<!--<div class='intro'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tristique justo. Quisque scelerisque, nisi eu venenatis tristique, dolor mi cursus lacus, et scelerisque quam enim et mauris. Fusce a varius tortor. Nullam efficitur mi vitae elementum luctus. Pellentesque sit amet sapien at diam pellentesque tempor nec et magna. Nulla gravida commodo dolor eu feugiat. Nunc ornare fermentum nibh, id imperdiet ligula malesuada non. Nulla et magna et ex dictum pretium vitae vel lectus. Sed eget tellus magna. 
</div>-->

<div class='timeline'>

<h3>2011 - 2016</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Arts, Digital Media Group
		<div class='title'>Voxelmania. Effects of Videogames on Service Robots
			<a class='video' href='https://youtu.be/'>Video</a>
			<a class='web' href='http://shortfilms.rosfilmfestival.com/video/8lcx9facybsl'>Web</a>
		</div>
		<div class='abstract'>We are proud to present our short film "Voxelmania. Effects of Videogames on Service Robots". The main actor is LISA. She is our Star and also an award winning service robot in different international contests (supported by team homer@university koblenz-landau, campus Koblenz). In a crossover of dream and reality LISA is exploring the world of video games.</div>
		<div class='note'>Course: Open space course of summer term 2016 by Markus Lohoff</div>
		<div class='note'>Collaborators: Julien Rodewald, Markus Lohoff, and 15 further students</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Computational Visualistics, Computer Graphics Group
		<div class='title'>Ship happens! - A 3ds Max Movie
			<a class='video' href='https://youtu.be/pq4D2nC8EJM'>Video</a>
		</div>
		<div class='abstract'>Small lighthouse is short of sleep...</div>
		<div class='note'>Course: 3ds Max course of winter term 2013/2014 by Sebastian Pohl</div>
		{%- assign imgs = site.arts.ship.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Adrian Derstroff, Raphael Heidrich, Dominik Cremer and Saner Demirel</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, University of Koblenz, Institute of Arts, Digital Media Group
		<div class='title'>Steoreo - A Blender Movie
			<a class='video' href='https://youtu.be/qlkXId7oDqU'>Video</a>
			<a class='web' href='/archive/steoreo'>Web</a>
		</div>
		<div class='abstract'>What are the benefits for visual perception that having two eyes brings with it? Which sensations can be artificially generated? To find out, it's two robots task to work through an experimental series that highlights some aspects of the problem.</div>
		<div class='note'>Course: Aspects of image design of summer term 2011 by Markus Lohoff</div>
		{%- assign imgs = site.arts.steoreo.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Arend Buchacher and Michael Taenzer</div>
	</li>
</ol>

<h3>2008 - 2014</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>JustHotAir - A puzzle-action-game for Windows
			<a class='web' href='https://www.indiedb.com/games/just-hot-air'>Web</a>
			<a class='web' href='https://www.microsoft.com/en-us/p/just-hot-air/9wzdncrdf5nl'>Microsoft Store</a>
			<a class='video' href='https://youtu.be/cyeSko84DLk'>Video 1</a>
			<a class='video' href='https://youtu.be/0toRJ-5JBpk'>Video 2</a>
			<a class='video' href='https://youtu.be/xI1WAQnuY58'>Video 3</a>
		</div>
		<div class='abstract'>Little creatures need your help! Save them by kicking them into the lit hole and make use of the environment to use less kicks. Each kick increases the inner pressure of the creature: One kick over limit and it explodes like a balloon filled with too much hot air.</div>
		{%- assign imgs = site.arts.jha.images -%}
		{%- include render_images.html images=imgs -%}
		{%- assign imgs = site.arts.jhalevels.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien and Michael Taenzer</div>
		<div class='award'>10.000 downloads in Windows Phone Store</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>Pulsedrive - A music-driven racing game
			<a class='web' href='https://www.indiedb.com/games/pulsedrive'>Web</a>
			<a class='video' href='https://youtu.be/DHoG2mTCdXY'>Video 1</a>
			<a class='video' href='https://youtu.be/9it-8XIv4g4'>Video 2</a>
		</div>
		{%- assign imgs = site.arts.pulsedrive.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>Beyond Jupiter - A role-playing hack and slash game
			<a class='web' href='https://www.indiedb.com/games/beyondjupiter'>Web</a>
			<a class='slides' href='/assets/docs/beyondjupiter.pdf'>Game Design</a>
		</div>
		{%- assign imgs = site.arts.bj.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>Demos for the [w]tech engine by Andre Taulien
			<a class='web' href='https://www.indiedb.com/engines/wtech'>Web</a>
			<a class='video' href='https://youtu.be/441it3a37rg'>Video 1</a>
			<a class='video' href='https://youtu.be/FZB_zOE4164'>Video 2</a>
			<a class='video' href='https://youtu.be/y6ZwfIKYmL8'>Video 3</a>
			<a class='video' href='https://youtu.be/48MM9zzMxRM'>Video 4</a>
			<a class='video' href='https://youtu.be/utgdDmSTOO0'>Video 5</a>
		</div>
		{%- assign imgs = site.arts.wtech.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>Tre - Last Life
			<a class='web' href='https://www.moddb.com/mods/tre-last-life'>Web</a>
			<a class='video' href='https://youtu.be/IuRDzZau3lc'>Video 1</a>
			<a class='video' href='https://youtu.be/R3wFlC-urUs'>Video 2</a>
		</div>
		<div class='abstract'>Total conversion of Unreal Tournament 3</div>
		{%- assign imgs = site.arts.tre2.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien and Mr.Tom</div>
		<div class='award'>$1 Million Intel "Make Something Unreal" Contest Phase 4 Finalist</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Artist</strong>, Personal Activity
		<div class='title'>Tre - The Spreading
			<a class='web' href='https://www.moddb.com/mods/tre-the-spreading'>Web</a>
			<a class='video' href='https://www.moddb.com/mods/tre-the-spreading/videos/trailer-1'>Video</a>
		</div>
		<div class='abstract'>Total conversion of Unreal Tournament 3</div>
		{%- assign imgs = site.arts.tre1.images -%}
		{%- include render_images.html images=imgs -%}
		<div class='note'>Collaborators: Andre Taulien</div>
	</li>
</ol>

</div>
