<div class='intro'>
I have published my research in international conferences, like ACM ETRA and ACM WWW, and ACM Transactions on Computer-Human Interaction. I have also reviewed submissions for ACM ETRA and ACM UIST.
</div>

<div class='timeline'>
{%- bibliography -%}
</div> <!-- timeline -->

<!-- Highlight me in references -->
<script type="text/javascript">
var elems = document.getElementsByClassName('reference');
const regex = new RegExp("Menges, R.", "g");
Array.prototype.forEach.call(elems, function(elem) {
	elem.innerHTML = elem.innerHTML.replace(regex, (match) => `<strong>${match}</strong>`);
});
</script>