<!--<div class='intro'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tristique justo. Quisque scelerisque, nisi eu venenatis tristique, dolor mi cursus lacus, et scelerisque quam enim et mauris. Fusce a varius tortor. Nullam efficitur mi vitae elementum luctus. Pellentesque sit amet sapien at diam pellentesque tempor nec et magna. Nulla gravida commodo dolor eu feugiat. Nunc ornare fermentum nibh, id imperdiet ligula malesuada non. Nulla et magna et ex dictum pretium vitae vel lectus. Sed eget tellus magna. 
</div>-->

{%- assign groups = site.software | group_by: 'year' -%}
{%- assign groups = groups | sort: 'name' | reverse -%}
<div class='timeline'>
{%- for group in groups -%}
	<h3>{{ group.name }}</h3>
	<ol>
	{%- for software in group.items -%}
		<li>
		<div>
			<strong style='font-variant: small-caps'>{{ software.title }}</strong>
			{%- if software.github -%}<a class='github' href='{{ software.github }}'>GitHub</a>{%- endif -%}
			{%- if software.video -%}<a class='video' href='{{ software.video }}'>Video</a>{%- endif -%}
			{%- if software.web -%}<a class='web' href='{{ software.web }}'>Web</a>{%- endif -%}
			{%- if software.slides -%}<a class='slides' href='{{ software.slides }}'>Slides</a>{%- endif -%}
		</div>
		{%- if software.tech -%}
		<div class='tech-container'>
			{%- for tech in software.tech -%}
				<div class='tech-item'>{{ tech }}</div>
			{%- endfor -%}
		</div>
		{%- endif -%}
		<div class='abstract'>{{ software.content | remove: '<p>' | remove: '</p>' }}</div>
		{%- include render_images.html images=software.images -%}
		{%- if software.people -%}<div class='people'>Contributors: {{ software.people }}</div>{%- endif -%}
		{%- if software.award -%}
		<div class='award'>
			<span>{{ software.award }}</span>
		</div>
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ol>
{%- endfor -%}
</div>