<!--<div class='intro'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tristique justo. Quisque scelerisque, nisi eu venenatis tristique, dolor mi cursus lacus, et scelerisque quam enim et mauris. Fusce a varius tortor. Nullam efficitur mi vitae elementum luctus. Pellentesque sit amet sapien at diam pellentesque tempor nec et magna. Nulla gravida commodo dolor eu feugiat. Nunc ornare fermentum nibh, id imperdiet ligula malesuada non. Nulla et magna et ex dictum pretium vitae vel lectus. Sed eget tellus magna. 
</div>-->

<div class='timeline'>

<h3>2016 - Today</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Lecturer</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Machine Learning and Data Mining<a class='web' href='https://west.uni-koblenz.de/studying/ws2021/machine-learning-and-data-mining'>Web</a></div>
		<div class='abstract'>The course Machine Learning and Data Mining (MLDM) covers the fundamentals and basics of machine learning and data mining. The course provides an overview of a variety of MLDM topics and related areas such as clustering and classification.</div>
		<div class='note'>Collaborators: Zeyd Boukhers and Tjitze Rienstra</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Lecturer</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Proseminar "Eye Tracking" (German)<a class='web' href='https://west.uni-koblenz.de/studying/ws2021/proseminar-eye-tracking'>Web</a></div>
		<div class='note'>Other Supervisors: Matthias Thimm</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Thesis Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Master Thesis: Intelligent Mapping of Eye-Tracking Gaze-Data on Fixed Web Page Elements<a class='pdf' href='https://kola.opus.hbz-nrw.de/frontdoor/index/index/year/2017/docId/1547'>PDF</a><a class='github' href='https://github.com/Institute-Web-Science-and-Technologies/MTB'>GitHub</a></div>
		<div class='note'>Student: Hanadi Tamimi</div>
		<div class='note'>Other Supervisors: Steffen Staab and Christoph Schaefer</div>

		<div class='title'>Bachelor Thesis: Visualization of Transitions on Web Sites for Usability Studies with Eye Tracking (German)<a class='pdf' href='https://west.uni-koblenz.de/assets/theses/Visualisierung_von_Transitionen_zwischen_und_auf_Webseiten_fuer_Usability-Studien_mit_Eyetracking.pdf'>PDF</a><a class='github' href='https://github.com/cbrozmann/PageTransitionThesis'>GitHub</a></div>
		<div class='note'>Student: Christian Brozmann</div>
		<div class='note'>Other Supervisors: Steffen Staab</div>

		<div class='title'>Bachelor Thesis: Optical Text Recognition in the Web (German)<a class='pdf' href='https://west.uni-koblenz.de/assets/theses/cdreide_bachelor_thesis.pdf'>PDF</a><a class='github' href='https://github.com/Drizzy3D/CGRE'>GitHub</a></div>
		<div class='note'>Student: Christopher Dreide</div>
		<div class='note'>Other Supervisors: Steffen Staab</div>
		
		<div class='title'>Bachelor Thesis: Shot Detection in Screencasts of Web Browsing with Convolutional Neural Networks<a class='pdf' href='https://west.uni-koblenz.de/assets/theses/bachelor-dvossen.pdf'>PDF</a></div>
		<div class='note'>Student: Daniel Vossen</div>
		<div class='note'>Other Supervisors: Steffen Staab</div>

		<div class='title'>Bachelor Thesis: Semantical Classification of Icons</div>
		<div class='note'>Student: Pierre Krapf</div>
		<div class='note'>Other Supervisors: Steffen Staab</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Machine Learning and Data Mining<a class='web' href='https://west.uni-koblenz.de/studying/ws1718/mldm'>Winter 17/18</a><a class='web' href='https://west.uni-koblenz.de/studying/ws1819/mldm'>Winter 18/19</a><a class='web' href='https://west.uni-koblenz.de/studying/ws1920/machine-learning-and-data-mining'>Winter 19/20</a></div>
		<div class='abstract'>The master programme course Machine Learning and Data Mining covers the fundamentals and basics of machine learning and data mining. The course provides an overview of a variety of MLDM topics and related areas such as optimization and deep learning.</div>
		<div class='note'>Lecturers: Steffen Staab and Zeyd Boukhers</div>
		<div class='note'>Collaborators: Qusai Ramadan, Akram Sadat Hosseini, and Mahdi Bohlouli</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab: Eye Tracking in Word Processing<a class='web' href='https://west.uni-koblenz.de/studying/ss20/research-lab-eye-tracking'>Web</a></div>
		<div class='abstract'>Exploring the future of word processing with eye tracking.</div>
		<div class='note'>Other Supervisors: Matthias Thimm</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab: Eye Tracking Visualization Platform<a class='web' href='http://eyevis.west.uni-koblenz.de'>Web</a></div>
		<div class='abstract'>The platform was created during a research lab project that set the goal to find new ways of visualizing eye tracking data.</div>
		<div class='note'>Other Supervisors: Chandan Kumar</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab: GazeTheWeb - Watch<a class='github' href='https://github.com/MAMEM/GazeTheWeb/tree/master/Watch'>GitHub</a></div>
		<div class='abstract'>YouTube application controlled with gaze and processing of gaze and EEG sensor data, part of the EU-funded research project MAMEM.</div>
		<div class='note'>Other Supervisors: Chandan Kumar and Korok Sengupta</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab: GazeTheWeb - Tweet<a class='github' href='https://github.com/MAMEM/GazeTheWeb/tree/master/Tweet'>GitHub</a></div>
		<div class='abstract'>Twitter application controlled with gaze, part of the EU-funded research project MAMEM.</div>
		<div class='note'>Other Supervisors: Chandan Kumar and Korok Sengupta</div>
	</li>
</ol>

<h3>2012 - 2015</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Blender Game Engine (German)
			<a class='slides' href='/assets/slides/01-BlenderGameEngine.pdf'>Slides 1</a>
			<a class='slides' href='/assets/slides/02-BlenderGameEngine.pdf'>Slides 2</a>
		</div>
		<div class='abstract'>Creation of games using the Blender Game Engine.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Unreal Development Kit (German)
			<a class='slides' href='/assets/slides/udk_basics.pdf'>Slides</a>
		</div>
		<div class='abstract'>Level building, materials, visual programming, and particles.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Game Modeling (German)
			<a class='slides' href='/assets/slides/01-GameModeling.pdf'>Slides 1</a>
			<a class='slides' href='/assets/slides/02-GameModeling.pdf'>Slides 2</a>
			<a class='slides' href='/assets/slides/03-GameModeling.pdf'>Slides 3</a>
			<a class='slides' href='/assets/slides/04-GameModeling.pdf'>Slides 4</a>
			<a class='slides' href='/assets/slides/05-GameModeling.pdf'>Slides 5</a>
		</div>
		<div class='abstract'>Modeling, sculpting, painting, and animation for games.</div>
	</li>
</ol>

</div> <!-- timeline -->