<div class='timeline'>

<h3>2016 - Today</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Machine Learning and Data Mining<a class='web' href='https://west.uni-koblenz.de/studying/ws1718/mldm'>Winter 17/18</a><a class='web' href='https://west.uni-koblenz.de/studying/ws1819/mldm'>Winter 18/19</a><a class='web' href='https://west.uni-koblenz.de/studying/ws1920/machine-learning-and-data-mining'>Winter 19/20</a></div>
		<div class='abstract'>The master programme course Machine Learning and Data Mining covers the fundamentals and basics of machine learning and data mining. The course provides an overview of a variety of MLDM topics and related areas such as optimization and deep learning.</div>
		<div class='note'>Lecturers: Steffen Staab and Zeyd Boukhers</div>
		<div class='note'>Contributors: Qusai Ramadan, Akram Sadat Hosseini, and Mahdi Bohlouli</div>
	</li>

	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab, Eye Tracking Visualization Platform <a class='web' href='http://eyevis.west.uni-koblenz.de/'>Web</a></div>
		<div class='abstract'>The platform was created during a research lab project that set the goal to find new ways of visualizing eye tracking data.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab, GazeTheWeb - Watch<a class='github' href='https://github.com/MAMEM/GazeTheWeb/tree/master/Watch'>GitHub</a></div>
		<div class='abstract'>YouTube application controlled with gaze and processing of gaze and EEG sensor data, part of the EU-funded research project MAMEM.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Supervisor</strong>, University of Koblenz, Institute for Web Science and Technologies</div>
		<div class='title'>Research Lab, GazeTheWeb - Tweet<a class='github' href='https://github.com/MAMEM/GazeTheWeb/tree/master/Tweet'>GitHub</a></div>
		<div class='abstract'>Twitter application controlled with gaze, part of the EU-funded research project MAMEM.</div>
	</li>
</ol>

<h3>2012 - 2015</h3>
<ol>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Blender Game Engine (German)
			<a class='slides' href='\assets\slides\01-BlenderGameEngine.pdf'>Slides 1</a>
			<a class='slides' href='\assets\slides\02-BlenderGameEngine.pdf'>Slides 2</a>
		</div>
		<div class='abstract'>Creation of games using the Blender Game Engine.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Unreal Development Kit (German)
			<a class='slides' href='\assets\slides\udk_basics.pdf'>Slides</a>
		</div>
		<div class='abstract'>Level building, materials, visual programming, and particles.</div>
	</li>
	<li>
		<div><strong style='font-variant: small-caps'>Tutor</strong>, University of Koblenz, Institute of Arts, Digital Media Group</div>
		<div class='title'>
			Introduction to Game Modeling (German)
			<a class='slides' href='\assets\slides\01-GameModeling.pdf'>Slides 1</a>
			<a class='slides' href='\assets\slides\02-GameModeling.pdf'>Slides 2</a>
			<a class='slides' href='\assets\slides\03-GameModeling.pdf'>Slides 3</a>
			<a class='slides' href='\assets\slides\04-GameModeling.pdf'>Slides 4</a>
			<a class='slides' href='\assets\slides\05-GameModeling.pdf'>Slides 5</a>
		</div>
		<div class='abstract'>Modeling, sculpting, painting, and animation for games.</div>
	</li>
</ol>

</div> <!-- timeline -->